.movies {
    /* following commented out properties are old
    display : flex;
    flex-wrap: wrap; */

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    justify-items: center;
}
