/*
.movies {
    following commented out properties are old
    display : flex;
    flex-wrap: wrap; */

    /* the following is placeholder styles from base mode
    /* display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    justify-items: center;
}
